@import '~antd/dist/antd.css';
@import '~antd/dist/antd.dark.css';
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';
@import '~ag-grid-community/dist/styles/ag-theme-alpine-dark.css';

@tailwind base;

@tailwind components;


.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.usernameText {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    letter-spacing: -1.6px;
    word-spacing: -1.6px;
    color: #81613E;
    font-weight: 700;
    text-decoration: rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.emailText {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    letter-spacing: -1.6px;
    word-spacing: -1.6px;
    color: #D2691E;
    font-weight: 700;
    text-decoration: rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.clockText {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 19px;
    letter-spacing: -1.4px;
    word-spacing: 2px;
    color: #732E2E;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.my-facebook-button-class {
    background-color: 'red'
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-left: 10px;
}